
/* src/styles/SkladanePrace.css */
.sp-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 3rem 1rem;
  background-color: #0d0f13;
  min-height: 100vh;
  color: #ffffff;
}

.sp-filter-row {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 2.5rem;
}

.sp-filter {
  flex: 1 1 200px;
  display: flex;
  flex-direction: column;
}

.sp-label {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 500;
}

.sp-select {
  background-color: #1a1d21;
  border: 1px solid #333;
  padding: 0.8rem 1rem;
  border-radius: 8px;
  color: #fff;
  font-size: 1rem;
}

.sp-card-grid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sp-card {
  background-color: #111417;
  border-radius: 12px;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  border: 1px solid #1f2225;
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInUp 0.6s ease forwards;
}

.sp-card:nth-child(1) { animation-delay: 0.6s; }
.sp-card:nth-child(2) { animation-delay: 0.8s; }
.sp-card:nth-child(3) { animation-delay: 1s; }

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.sp-content h3 {
  margin: 0 0 1rem;
  color: #ffffff;
}

.sp-content p {
  margin: 0;
  color: #aaa;
}

.sp-download {
  margin-left: auto;
  padding: 0.75rem 1.2rem;
  border-radius: 8px;
  background-color: #3b82f6;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-size: 16px;
  text-decoration: none;
}

.sp-download:hover {
  background-color: #2563eb;
  color: #fff;
}

.sp-icon {
  font-size: 2rem;
  color: #fff;
  margin-left: 6px;
}

.sp-icon-wrapper {
  width: 64px;
  height: 64px;
  background-color: #1b1d21; ;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.sp-icon-column {
  
  width: 80px; /* фиксированная ширина */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Анимация появления сверху */
@keyframes slideFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.sp-label,
.sp-select {
  opacity: 0;
  transform: translateY(-20px);
  animation: slideFadeIn 0.6s ease-out forwards;
}

/* Задержки для плавного появления */
.sp-label:nth-of-type(1),
.sp-select:nth-of-type(1) {
  animation-delay: 0.1s;
}

.sp-label:nth-of-type(2),
.sp-select:nth-of-type(2) {
  animation-delay: 0.3s;
}


@media (max-width: 768px) {
  .sp-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .sp-icon-column {
    width: auto;
    margin-bottom: 1rem;
  }

  .sp-download {
    margin-left: 0;
    margin-top: 1.5rem;
    width: 100%;
    max-width: 300px;
  }
}
